.pokemon-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 15%;
    box-shadow: 1px 1px rgb(120, 113, 113), -0.1em 0 .4em rgb(61, 61, 58);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2rem;
}
span{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.types-wrapper{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
.types-wrapper > span{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.pokemon-details-name{
    font-size: 2rem;
    font-weight: bold;
}
.pokemon-details-name > span{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
    letter-spacing: 0.7rem;
}
.home-button{
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    background-color: rgb(232, 220, 152);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(100, 89, 89);
    box-shadow: 1px 1px rgb(120, 113, 113), -0.1em 0 .4em rgb(61, 61, 58);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
}
.home-button:hover{
    background-color: rgb(243, 169, 9);
    box-shadow: none;
}
.pokemon-details-weight{
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.pokemon-details-height{
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.pokemon-details-image{
    border: 1px solid black;
    border-radius: 30px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    height: 250px;
    min-height: 80%;
    filter: drop-shadow(3px 2px 4px #655e5e);
}
span{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.values{
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(58, 56, 56); 
    
}